*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.add{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #18BC9C;
}